@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&family=Mulish:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search-form {
    width: 100%;
    margin: 25px 0 25px 0;
}

.search {
    display: flex;
    justify-content: center;
}

#search-anime {
    width: 300px;
    height: 32px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;

    font-size: 22px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.card {
    position: relative;
    width: 300px;
    margin: 20px;
    margin-top: 25px;
    padding: 25px;
    box-shadow: 5px 5px 30px rgba(0,0,0, .1);
    border-radius: 20px;
}

img {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.name {
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    word-break: break-word;
}

.description {
    height: 160px;
    margin-top: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 120%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.episodes {
    margin-top: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

h3 {
    margin: 20px 0 0 50px;
    font-family: 'Mulish', sans-serif;
}

.row {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

section {
    width: 75%;
    margin: 0px auto;
}

.img-box {
    position: relative;
}

.rating {
    position: absolute;
    top: 0;
    padding: 15px 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    background-color: rgb(59, 56, 59, 0.8);
    color: #fff;
    border-bottom-right-radius: 15px; 
}

.trailer-btn {
    height: 50px;
}

a {
    position: absolute;
    bottom: 0;
    padding: 5px 75px;
    margin-bottom: 20px;
    font-family: 'Mulish', sans-serif;
    color: #000;
    border: 2px solid black;
    border-radius: 20px;
    background: white;
    text-decoration: none;
    cursor: pointer;
}